body {background-color: #cb6457;}
#logo{
	position: absolute; 
	width: 400px; 
	left: 50%; 
	margin-left: -200px; 
	top: -8%;
	text-align: center;
}

#logo img{width:200px;}
#logo p {font-size: 30px; margin-top: -50px; font-family:monospace; font-weight: bold;}
#main {
	background-color: azure; 
	width:80%; 
	min-height: 70%;
position: absolute;
left: 50%;
margin-left: -40%;
top:20%;
border-radius: 20px;
padding: 20px;
}
.serverRequest {background-color: rgb(190,24,30);; width:100%; height: 50px; padding: 5px; border-radius: 5px; font-style: oblique; font-size: 25px; border: 2px solid black; margin-bottom: 10px; padding-top: 0px;}
.checkRequest {background-color: #44c767; width:100%; height: 50px; padding: 5px; border-radius: 5px; font-style: oblique; font-size: 25px; border: 2px solid black; margin-bottom: 10px;}

	
	
